body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #08070c;
}

.game-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  width: 970px;
  height: 65px;
  background-color: white;
}

.game-header > p {
  font-size: 20px;
  margin: 0 0;
}

.difficulty-container {
  display: flex;
  flex-direction: column;
}

.difficulty-container > p {
  text-align: center;
  margin: 0 0 10px 0;
}

.difficulty-container > ul {
  display: flex;
  flex-direction: row;
  margin: 0 0;
  padding: 0 0;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
}

.controls-wrapper > p {
  margin: 0 0 10px 0;
}

.movement-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movement-top-box {
  display: flex;
}

.movement-bottom-box {
  display: flex;
}

.move-box {
  margin: 0 0;
  width: 20px;
  height: 17px;
}

.move-box p {
  display: block;
  text-align: center;
  border: 1px solid black;
  margin: 0 0;
}
